* {
    font-family: 'Roboto Slab', serif;
    color: #383838;
}

a {
    color: #383838;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(253, 146, 115, 0.8);
    box-shadow: 0 1px 1px rgba(251, 125, 132, 0.075) inset, 0 0 8px rgba(251, 125, 132, 0.6);
    outline: 0 none;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
    
}

.navbar-light {
    box-shadow: 0 0 6px 0px #d8d8d8;
}

button:focus {outline:0;}
/* ------------------------------------
HOME
-------------------------------------*/

.bg-light {
    background-color: #fff !important;
}

.gradient-logo {
    background: linear-gradient(to right, #FF9671, #FF6F91);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 28px;
}
.nav-item a {
    font-weight: 700;
    padding: 0 20px;
}

a:hover {
    color: #FF6F91;
}

.container {
    margin-top: 120px;
    max-width: 1020px;
}

.bg-to-delete {
    background-color: #fff;
    height: 1800px;
}

.main-title {
    max-width: 520px;
    font-size: 3rem;
}

.search-bar-form {
    margin: 40px 0 140px;
}

.search-bar {
    padding-left: 60px;
    height: 64px;
    border-radius: 1rem !important;
}

.search-bar-btn {
    border: none;
    margin-left: 20px;
    height: 64px;
    padding: 0px 24px;
    border-radius: 1rem !important;
    background-image: linear-gradient(to right, #FF9671, #FF6F91);
    font-weight: 500;
    font-size: 24px;
}

.main-search-icon {
    z-index: 100;
    position: absolute;
    padding: 20px;
}

.img-container {
    height: 145px;
}

.oblique-img {
    clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 2vw) );
    max-width: 100%;
    height: 160px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.discover-btn {
    background-image: linear-gradient(to right, #FF9671, #FF6F91);
    float: right;
    border: none;
}

.card {
    border-radius: 1rem;
}

.card-title {
    margin-bottom: 3.5rem;
}

.heart-little-card {
    margin-top: 6px;
}

.ellips-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 183px;
    display: block;
    overflow: hidden;
}

.btn {
    border-radius: 0.75;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.sub-title {
    font-size: 1.7rem;
    margin-bottom: 40px;
}

@media screen and (max-width: 1023px) {

    .container {
        margin-top: 60px;
    }

    .main-title {
        font-size: 2rem;
    }

    .search-bar-form {
        margin-bottom: 60px;
    }

    .search-bar-btn {
        display: none;
    }

	.grid-xs--scroll {
		flex-wrap: nowrap;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	/* for flex padding collapse */
	.grid-xs--scroll::after {
		content: "";
		flex: 0 0 6px;
	}
	.grid-xs--scroll .grid__item {
		white-space: normal;
	}
}

/*
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.grid-md--scroll {
		flex-wrap: nowrap;
		white-space: nowrap;
		overflow-x: auto;
		margin: 0 -14px 7px;
		padding: 0 7px;
    }
	.grid-xs--scroll::after {
		content: "";
		flex: 0 0 7px;
	}
	.grid-md--scroll .grid__item {
		white-space: normal;
		margin: 7px;
	}
	.grid-md-2--scroll .grid__item {
		width: calc(50% - 52px);
	}
	.grid-md-3--scroll .grid__item {
		width: calc(33.333% - 40px);
	}
	.grid-md-4--scroll .grid__item {
		width: calc(25% - 30px);
	}
	.grid-md-5--scroll .grid__item {
		width: calc(20% - 20px);
	}
}
*/

@media screen and (min-width: 1024px) {
	.grid-lg--scroll {
		white-space: nowrap;
		overflow-x: auto;
		margin: 0 -9px 9px;
		padding: 0;
	}
	/* for style webkit scrollbar */
	.grid-lg--scroll::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	.grid-lg--scroll::-webkit-scrollbar-track {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		margin: 80px 0 5px 0;
	}
	.grid-lg--scroll::-webkit-scrollbar-thumb {
		-webkit-border-radius: 4px;
		border-radius: 4px;
		background: rgb(219,219,219);
	}
	
}